.footer {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.footer__link {
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  fill: var(--primary);
}

.footer__link svg {
  width: 100%;
  max-width: 210px;
}
