body {
  font-family: "Avenir Next", sans-serif;
  background-color: var(--primary);
}
.background-color--primary {
  background-color: var(--primary);
  color: var(--secondary);
}
.background-color--secondary {
  background-color: var(--secondary);
  color: var(--primary);
}

body,
.background-color--primary,
.background-color--secondary {
  transition-duration: .1s;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
}
