.t-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.t-small {
  font-size: 24px;
  line-height: 1.5;
}

.t-medium {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.t-big {
  margin-bottom: 12px;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 5px;
}
